<section class="container login-container">
    <div class="row justify-content-center">
        <section class="col-lg-4 col-md-7 col-10 bg-white border-custom shadow-lg d-flex flex-column align-items-between text-wrap">

            <div class="container-fluid py-3">
                <div class="row">
                    <div class="col-12 d-flex flex-row  align-items-center justify-content-between">
                        <img alt="placeholder"/>
                        <h3 class="text-custom-darker">Login</h3>
                    </div>
                </div>
                <div class="row border-bottom mb-3">
                    <div class="col-12 d-flex flex-column  align-items-center justify-content-center text-custom">
                        <h4 class="align-self-start">Welcome to the staging app.</h4>
                        <p> Customers and all employees need to login in order to use the application.</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10 form-group">
                        <label for="username-input" class="text-secondary">Username</label>
                        <input class="form-control" type="text" placeholder="username"/>
                        <span class="form-text text-muted">Enter your account username.</span>
                    </div>
                    <div class="col-10 form-group">
                        <label for="username-input" class="text-secondary">Username</label>
                        <input class="form-control" type="password" placeholder="password"/>
                        <span class="form-text text-muted">Enter your account password.</span>
                    </div>
                    <div class="col-10 my-1">
                        On 400 or 500, output a msg here.
                    </div>
                    <div class="col-10">
                        <input type="button" class="btn btn-outline-success" value="login"/>
                    </div>
                </div>
            </div>

        </section>
    </div>
</section>
